.banner-principal-decorativo
  &-3
    animation: float2 3.5s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 40%
  &-4
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 70%
  &-5
    animation: float2 2.8s ease-in-out infinite alternate
    position: absolute
    top: 80%
    right: 40%
  &-6
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 15%
    right: 5%
  &-7
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 70%
    right: 15%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

@keyframes float2
  0%
    transform: translateX(20px)

  100%
    transform: translateX(0px)

.banner-principal__info
  width: 600px
  background-image: url("../assets/curso/portada/banner-principal-decorativo-1.svg"), url("../assets/curso/portada/banner-principal-decorativo-2.svg")
  align-self: stretch
  background-repeat: no-repeat
  background-position: 10% 3%, 17% 97%
  background-size: 20%, 25%
  animation: Flitp1 6s ease infinite

@keyframes Flitp1
  0%
    background-image: url("../assets/curso/portada/banner-principal-decorativo-1.svg"), url("../assets/curso/portada/banner-principal-decorativo-2.svg")
  50%
    background-image: url("../assets/curso/portada/banner-principal-decorativo-1.svg"), url("../assets/curso/portada/banner-principal-decorativo-2.svg")
    background-position: 15% 3%, 25% 97%
  100%
    background-image: url("../assets/curso/portada/banner-principal-decorativo-1.svg"), url("../assets/curso/portada/banner-principal-decorativo-2.svg")

.banner-principal__row .banner-principal__img
  width: 550px

.banner-principal__componente
  margin-top: 35px
  h1
    line-height: 10px
    span
      padding-top: 5px
      color: #FED947
      display: block
      line-height: 20px

.tarjeta-audio.color-primario
  border-color: #FFBFC1
  background-color: white
  .tarjeta-audio__texto
    color: #FF5F65
    span
      color: #3C3FA7

.audio.color-primario .audio__btn, .tarjeta-audio.color-primario .audio__btn
  background-color: #FF5F65

.tarjeta.color-acento-botones
  background-color: #E1E8FF

.tabs-a.color-acento-botones .tabs-a__tab:hover, .tabs-a.color-acento-botones .tabs-a__tab:active, .tabs-a.color-acento-botones .tabs-a__tab:focus
  background-color: #FF5F65

.tabs-a.color-acento-botones .tabs-a__tab__selected::before
  background-color: #FF5F65

.tabs-a.color-acento-botones .tabs-a__tab__selected
  background-color: #FF5F65

.tabs-a__tab
  background-color: #FFDFE0

.tarjeta--azul
  background-color: #6B8DFF

.tarjeta--azul1
  background-color: #E1E8FF

.acordion__titulo
  h3
    color: white !important

.acordion__accion__btn--a
  background-color: #FED947

.audio.color-secundario .audio__btn, .tarjeta-audio.color-secundario .audio__btn
  background-color: #FF5F65

.slyder__pagination
  color: white

.slyder__btn
  background-color: #FFF7DA

.slyder__btn:hover
  background-color: #FED947

.slyder-f__btn
  width: 50px
  height: 50px
  background-color: #FED947
  position: relative
  top: 170px
  border-radius: 33px
  padding-left: 0px !important
  padding-right: 0px !important
  i
    font-size: 2.5rem
    color: white

.slyder-a__tipo-b .slyder-a__btn--atrs
  background-color: #FED947

.slyder-a__tipo-b .slyder-a__btn--sigt
  background-color: #FED947

.slyder-a__bullets__item--active
  background-color: #FED947

.tabs-c__tab
  background-color: #E1E8FF

.tabs-c.color-primario .tabs-c__tab--active
  background-color: #E1E8FF
  span
    font-weight: bold
    color: #FC5F65

.tabs-c__header
  margin-bottom: 0px

.tabs-c__content-item
  border-left: 1px solid #AFAFAF !important
  border-right: 1px solid #AFAFAF !important

.tabs-c__tab::after
  background-color: #3C3FA7

.txt-color1
  color: #FC5F65 !important

.txt-color2
  color: #3C3FA7 !important

.txt-color3
  color: #FED947 !important

.txt-color4
  color: white

@media screen and ( max-width: 1200px)

  .banner-principal__info
    width: 540px

  .banner-principal__row .banner-principal__img
    width: 400px

@media screen and ( max-width: 992px )

  .banner-principal__componente
    margin-top: 60px

  .slyder-f__btn
    border-radius: 5px